<!doctype html>
<html lang="en">
  <head>
  	<title>Contact Form 08</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	</head>
	<body>

    <!-- <button class="btn-primary mt-4" onclick="handleFile())">
      Upload
  
    </button> -->
    <form action="/predict", method="post", enctype="multipart/form-data">
      <input type="file" name="imagefile"> 
      <input type="submit" value="predict"> 
      
    </form>
    {{ prediction_text }}
    
    


	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>
